body{
    background-color: #570202;
}
.col{
    background-color: white;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
.btn-primary{
    background-color: #570202;
    color:#570202; 
    border-color:#570202; 
}
.btn-primary:hover{
    background-color: #570202;
    color:#570202; 
    border-color:#570202;  
}