@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Praise&display=swap');

body{
    background-color: #570202;
}
.col{
    background-color: white;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}

h6{
    font-family: 'Abril Fatface', cursive;
}
